@import "tailwindcss";
@plugin "@tailwindcss/typography";

@variant dark (&:where(.dark, .dark *));


@theme {
  --animate-float: float 6s ease-in-out infinite;
  --animate-shine: shine 1.5s ease-out infinite;
  --animate-scan: scan 3s linear infinite;

  @keyframes float {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-20px);
    }
  }

  @keyframes shine {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(100%);
    }
  }

  @keyframes scan {
    from {
      transform: translateY(-100%);
    }

    to {
      transform: translateY(400%);
    }
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-50 dark:bg-slate-950 text-slate-900 dark:text-white transition-colors duration-300;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-100 dark:bg-slate-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-300 dark:bg-slate-700 rounded-full hover:bg-slate-400 dark:hover:bg-slate-600 transition-colors;
}